.imagem{
  padding: 20px;
  width: 35vw;
  height: 300px;

}

.imagem2{
  width: 50vw;
  height: 300px;
  padding: 20px;
}

.imagem3{
  width: 42vw;
  height: 300px;
  padding: 20px;
}

h1{
  text-align: justify;
  padding: 20px;
  color: #333;
}

.nottxt{
  text-align: justify;
}

.video{
  margin-bottom: 50px;
}
#contato{
  text-align: center;
  font-size: 5em;
}
.Jaisom{
  padding-left: 100px;
  padding-top: 20px;
}
.Leandro{
padding: 20px;
}
.texts1{
  padding: 20px;
}
.texts2{
  padding: 20px;
}
